body {
    font-family: 'Epilogue', sans-serif;
    background-color: hsl(0, 0%, 98%);
    color: hsl(0, 0%, 8%);
}

a {
    text-decoration: none;
    color: inherit;
}

.navbar {
    padding: 1.5rem 2rem;
}

.offcanvas-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.hero {
    padding: 2rem 0;
    display: flex;
    flex-direction: column-reverse;
    text-align: center;
    flex-wrap: wrap;
}

.hero-image-size {
    max-width: 80%;
    height: 50%;
}

.hero-text {
    max-width: 600px;
    margin: 0 auto;
}

.clients {
    margin-top: 2rem;
    display: flex;
    justify-content: center;
    gap: 1rem;
}

.client-logo {
    max-width: 60px;
    height: auto;
    opacity: 0.8;
    transition: opacity 0.3s ease;
}

.client-logo:hover {
    opacity: 1;
}

@media (min-width: 768px) {
    .hero {
        flex-direction: row;
        text-align: center;
    }

    .hero-text {
        margin: 0;
    }

    .hero-image-size {
        /* max-width: 40%; */
    }
}


.login-btn {
    color: grey;
    text-decoration: none;
    margin-right: 20px;
}

.login-btn:hover {
    color: black;
}

.register-btn {
    color: grey;
}

.register-btn:hover {
    color: black;
    background: transparent;
    background-color: transparent;
}

.learn-btn:hover {
    color: black;
    background: transparent;
    background-color: transparent;
}